@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


:root{
  --head_font:'Roboto Mono', monospace;
  --title_font:'Source Sans Pro', sans-serif;
  --para_font:'Roboto', sans-serif;
  --sub_font:'Ubuntu', sans-serif;
  --border_clr : rgba(1, 170, 189, 1);
}

*{
  padding:0;
  margin: 0;
  text-decoration: none;
}

body{
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  min-width: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0px 35px 35px rgba(0,0,0,0.5);
}

.left_side{
  margin: 2.5rem;
}

.right_side{
  margin: 2.5rem;
}


.profile h1{
  font-family: var(--title_font);
}

.profile_detail{
  margin-top: 1rem;
}
.bottom_width{
  height: 0.2rem;
  width: 100%;
  background-color: var(--border_clr);
  margin: 1rem 0;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.3);
}

.title h3{
  margin: 1rem 0;
  font-family: var(--title_font);
}

.title .subtitle p{
  font-family: var(--para_font);
}

.experience .subtitle h3{
  font-family: var(--sub_font);
}

.experience .subtitle .work_detail {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.projects .title{
  margin-top: 2rem;
}

.projects .subtitle h3{
  padding: 1rem 0;
  font-family: var(--sub_font);
  
}
.projects .project_detail{
  margin-left: 3vw
}

.skills_grid .subtitle p{
  display: inline-block;
  font-family: var(--sub_font);
}

.skills_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.languages .subtitle h3{
  font-family: var(--sub_font);
}

.languages .subtitle{
  display: flex;
  column-gap: 0.5rem;
}

.languages .subtitle span{
  font-size: 1.1rem;
}

.languages .blocks{
  display: flex;
  padding: 1rem 0;
  height: 1rem;
  width: 100%;
  column-gap: 1rem;
}

.languages .blocks .mini_blocks{
  height: 1rem;
  width: 3rem;
  border: 1px solid black;
}

.languages .blocks #mini_1{
  background-color: rgb(13, 80, 156);
}
.languages .blocks #mini_2{
  background-color: rgb(13, 80, 156);
}
.languages .blocks #mini_3{
  background-color: rgb(13, 80, 156);
}

/* ==============================================Right Side===================================== */

.rbottom_width{
  height: 0.4rem;
  width: 100%;
  background-color: var(--border_clr);
  margin: 1rem 0;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.3);
}



.right_side .subtitle h3{
  font-family: var(--sub_font);
}

.right_side .subtitle a{
  color: black;
  cursor: pointer;
}

.education .title h3{
  text-align: center;
}

.certification .subtitle ul{
  margin-left: 2rem;
}

.certification .subtitle ul li{
  margin-bottom: 1rem;
}